.btn{
    box-sizing: border-box;
    width: 250px;
    margin:0.8rem;
    padding: 5px;
    border: 1px solid #7064e5;
    border-radius: 10px;
    font-size: 1.2rem;
    color:#fff ;
    background-color: #7064e5;
}